@charset "UTF-8";

.container {
  position: absolute;
  top: 50px;
  z-index: 1;
  margin: 75px;
}

.lead{
  max-width: 300px;
	
}

.table{
	width: 100%;
	
}
h2 {
	
  margin: 0;
  display: inline-block;
}

.container1 {
  position: absolute;
  bottom: 100px;
  z-index: 0;
  margin: 75px;
}

/*
button {
  float: right;
}*/



